/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--general-font);
  font-variation-settings: "wght" var(--content-text-weight);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
}

.header {
  margin: 100px auto;
  display: flex;
  background-color: var(--background-color);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 698px;
  gap: 25px;
  font-family: var(--special-font);
  text-transform: uppercase;
  border: 2px solid var(--accent-color, #000);
}

.header__logo {
  padding-block-start: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title {
  font-family: "PressStart2P";
  font-size: 49px;
}

.header__subtitle {
  font-family: "PressStart2P";
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
  padding-inline-start: 20px;
  padding-block-end: 25px;
}

.theme-menu__button {
  background: transparent;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: color 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -20px;
  animation: theme_menu_selection 0.5s infinite ease-in-out alternate;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  block-size: 2px;
  inline-size: 0px;
  background-color: var(--accent-color);
  opacity: 0.6;
  transition: 0.3s;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
}

.main {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color, #000);
  max-width: 696px;
  margin-bottom: 54px;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--title-text-weight);
  padding: 4px 10px 6px 10px;
}

.card__image-wrapper {
  display: flex;
  outline: 2px solid var(--accent-color);
  position: relative;
}

.card__image-content {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__image-title {
  position: absolute;
  top: 23px;
  right: 11px;
  font-size: 14px;
  font-family: var(--special-font);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px -1px var(--background-color),
    -1px 1px var(--background-color), 1px -1px var(--background-color),
    1px 1px var(--background-color);
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__image-title {
      -webkit-text-stroke: 1px var(--background-color);
      text-stroke: 1px var(--background-color);
      text-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 25px 24px 25px;
  font-size: 18px;
  line-height: 1.19;
}

.button {
  transition: 0.3s;
  position: relative;
  cursor: pointer;
  background: var(--background-color, #fff);
  border: 2px solid var(--accent-color, #000);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  inset: 0;
  background: var(--accent-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button__text {
  font-family: var(--special-font);
  font-size: 14px;
  line-height: 0.9;
  z-index: 1;
  color: var(--button-text-color, #000);
  mix-blend-mode: difference;
}

.button:hover::after {
  transform: scaleX(1);
}

.card__buttons {
  display: flex;
  gap: 6px;
  align-self: flex-end;
}

.card__icon-button {
  display: flex;
  background: transparent;
  cursor: pointer;
  padding: 0;
  overflow: visible;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
}

.sparks {
  opacity: 0;
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 130px;
  block-size: 38px;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: var(--font-accent);
  background: var(--bg-color);
  margin-block-end: 102px;
}

.footer__button {
  inline-size: 306px;
  block-size: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer__button-image {
  z-index: 1;
  color: var(--button-text-color, #000);
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: difference;
}

.footer__dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-inline-size: 341px;
  background-color: var(--background-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  padding: 30px 40px;
}

.footer__dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-image {
  min-inline-size: 39px;
  block-size: 39px;
}

.footer__dialog-button {
  inline-size: 257px;
  block-size: 38px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.footer__dialog-title {
  display: flex;
  gap: 20px;
  font-family: var(--special-font);
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
}

.inspiration {
  filter: brightness(150%);
}

.anxiety {
  filter: saturate(50%);
}

.satisfaction {
  filter: saturate(10%) grayscale(60%);
}

.chase {
  filter: invert(10%);
}

.support {
  filter: grayscale(0.4);
}

.breakdown {
  filter: blur(1px);
}

.tiredness {
  filter: opacity(0.7) contrast(150%);
}

.skepticism {
  filter: grayscale(60%) brightness(0.9);
}

@media (min-width: 1440px) {
  .header__title {
    font-size: 65px;
  }

  .header__subtitle {
    font-size: 23px;
  }

  .header__logo {
    padding-block-start: 136px;
  }

  .card__image-title {
    top: 27px;
    right: 25px;
  }

  .footer__button {
    flex-direction: row;
    inline-size: 335px;
    block-size: 51px;
  }

  .footer__button-image {
    inline-size: 21px;
    block-size: 21px;
  }
}
